.transition, form button, form .question label, form .question input[type="text"] {
  -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}

/* * {
  font-family: Helvetica, sans-serif;
  font-weight: light;
}

html {
  background-color: #3c3b52;
}
body{
  min-width:600px;
} */

form {
  position: relative;
  display: inline-block;
  width: 88%;
  max-width: 480px;
  /* min-width: 80%; */
  box-sizing: border-box;
  padding: 38px 25px 28px 25px;
  background-color: white;
  border-radius: 18px;
  margin: 40px 0;
  /* left: 50%;
  transform: translate(-50%, 0); */
  box-shadow: 1px 2px 18px rgba(0, 0, 0, .25);
}
form h1 {
  color: #ffa467;
  font-weight: 100;
  letter-spacing: 0.01em;
  margin-left: 15px;
  margin-bottom: 35px;
  text-transform: uppercase;
}
form button {
  width: 38%;
  margin-top: 28px;
  background-color: #ffa467;
  border: 1px solid #ffa467;
  line-height: 0;
  font-size: 17px;
  display: inline-block;
  box-sizing: border-box;
  padding: 18px 16px;
  border-radius: 60px;
  color: white;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
  cursor:pointer;
}
form button:hover, form button:focus {
  color: white;
  background-color: #ffa467;
}
form .question {
  position: relative;
  padding: 12px 0;
}
form .question:first-of-type {
  padding-top: 0;
}
form .question:last-of-type {
  padding-bottom: 0;
}
form .question label {
  transform-origin: left center;
  color: #ffa467;
  font-weight: 100;
  letter-spacing: 0.01em;
  font-size: 17px;
  box-sizing: border-box;
  padding: 10px 15px;
  display: block;
  position: absolute;
  margin-top: -44px;
  z-index: 2;
  pointer-events: none;
}
form .question input[type="text"] {
  appearance: none;
  background-color: none;
  border: 1px solid #ffa467;
  line-height: 0;
  font-size: 17px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 60px;
  color: #ffa467;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}
form .question input[type="text"]:focus {
  outline: none;
  background: #ffa467;
  color: white;
  margin-top: 38px;
}
form .question input[type="text"]:valid {
  margin-top: 38px;
}
form .question input[type="text"]:focus + label {
  font-size: 80%;
  transform: translate(0, -38px);
}
form .question input[type="text"]:valid + label {
  /* text-transform: uppercase; */
  /* font-style: italic; */
  /* transform: translate(5px, -35px) scale(0.6); */
  font-size: 80%;
  transform: translate(0px, -38px);
}
